<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/base/head :: head('Liste des Voitures')}">
</head>

<body>
    <header th:replace="~{/base/header :: header}"></header>
    <div class="container mt-5">
        <h1>Liste des Voitures</h1>
        <a href="/admin/voiture/ajouter/form" class="btn btn-primary mb-3">Ajouter une Voiture</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Vitesse</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Image</th>
                    <th scope="col">Utilisateurs</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="voiture, iterStat : ${listDeVoitures}">
                    <th scope="row" th:text="${iterStat.index + 1}"></th>
                    <td th:text="${voiture.modele}"></td>
                    <td th:text="${voiture.vitesse}"></td>
                    <td th:text="${voiture.couleur}"></td>
                    <td><img th:src="${voiture.image.url}" alt="Image de la voiture" width="100"></td>
                    <td>
                        <ul>
                            <li th:each="user : ${voiture.userCar}" th:text="${user.prenom} + ' ' + ${user.nom}"></li>
                        </ul>
                    </td>
                    <td>
                        <a th:href="@{/admin/voiture/supprimer(id=${voiture.id})}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{/base/footer :: footer}"></footer>
</body>

</html>