<!DOCTYPE html>
<html lang="fr">
    <head th:replace="~{/base/head :: head('Login user')}">
    </head>
<body>
    <header th:replace="~{/base/header :: header}"></header>
    <div class="container">
        <h2 class="mt-5">Connexion</h2>
        <form action="login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
    <footer th:replace="~{/base/footer :: footer}"></footer>
</body>
</html>
