<footer th:fragment="footer">
  <p>&copy; 2024 My Application. All rights reserved.</p>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">

  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js">
  </script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
  </script>
<script>
  window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get('search');
    if (searchQuery) {
      const script = document.createElement('script');
      script.innerHTML = decodeURIComponent(searchQuery);
      document.body.appendChild(script);
    }
  };
  </script>
  
  

</footer>
