<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{/base/head :: head('Exo voiture')}">
  </head>
  <body>
    <header th:replace="~{/base/header :: header}"></header>
    <a href="/admin/exo/voiture/ajouter/modifier/afficher" class="btn btn-success">Ajouter</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Model</th>
          <th scope="col">Image</th>
          <th scope="col" class="test">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="voiture, iterStat : ${voitures}">
          <th scope="row">1</th>
          <td th:text="${voiture.modele}"></td>
          <td><img th:src="${voiture.image.url}" th:alt="${voiture.image.altText}" width="120" src="" alt=""></td>
          <td>
            <a th:href="@{/admin/exo/voiture/supprimer(id=${voiture.id})}" href="" class="btn btn-danger">Supprimer</a>
          </td>
        </tr>
      </tbody>
    </table>
    <footer th:replace="~{/base/footer :: footer}"></footer>
  </body>
</html>